<div class="row">
  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
	<p class="credits theme-by text-muted">
		<h1>Want more?</h1>
		<p>This free gallery is brought to you by <a href="https://access.met-art.com/track/MTA5MS5NQS4xLjIuNS4wLjA,/signup/">MetArt</a>. These are only low resolution samples of what you get access to in their members area. As a subscriber, you have unlimited access to download full photo sets with zip files and full length HD videos right to your computer or mobile device. If you like what you see, you can help support Erotic Beauties by visiting Errotica Archives today, memberships are inexpensive and start as low as $0.27 cents/day.</p>
	</p>
  </div>
</div>

<div class="row">
  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
	<ul class="list-inline text-center footer-links">
		<li><a href="http://refer.ccbill.com/cgi-bin/clicks.cgi?CA=901313-0000&PA=1813773&HTML=https://www.metart.com/"><img src={{ "img/danee01.jpg" | absURL }} style="width:300px;height:250px;border:0;"></a></li>
		<li><a href="http://refer.ccbill.com/cgi-bin/clicks.cgi?CA=901313-0000&PA=1813773&HTML=https://www.metart.com/"><img src={{ "img/danee02.jpg" | absURL }} style="width:300px;height:250px;border:0;"></a></li>
		<li><a href="http://refer.ccbill.com/cgi-bin/clicks.cgi?CA=901313-0000&PA=1813773&HTML=https://www.metart.com/"><img src={{ "img/danee03.jpg" | absURL }} style="width:300px;height:250px;border:0;"></a></li>
		<li><a href="http://refer.ccbill.com/cgi-bin/clicks.cgi?CA=901313-0000&PA=1813773&HTML=https://www.metart.com/"><img src={{ "img/danee04.jpg" | absURL }} style="width:300px;height:250px;border:0;"></a></li>
		<li><a href="http://refer.ccbill.com/cgi-bin/clicks.cgi?CA=901313-0000&PA=1813773&HTML=https://www.metart.com/"><img src={{ "img/danee05.jpg" | absURL }} style="width:300px;height:250px;border:0;"></a></li>
		<li><a href="http://refer.ccbill.com/cgi-bin/clicks.cgi?CA=901313-0000&PA=1813773&HTML=https://www.metart.com/"><img src={{ "img/MA_10_dev_art.jpg" | absURL }} style="width:300px;height:250px;border:0;"></a></li>
		<li><a href="http://refer.ccbill.com/cgi-bin/clicks.cgi?CA=901313-0000&PA=1813773&HTML=https://www.metart.com/"><img src={{ "img/MA_1_dev_art.jpg" | absURL }} style="width:300px;height:250px;border:0;"></a></li>
		<li><a href="http://refer.ccbill.com/cgi-bin/clicks.cgi?CA=901313-0000&PA=1813773&HTML=https://www.metart.com/"><img src={{ "img/MA_2_dev_art.jpg" | absURL }} style="width:300px;height:250px;border:0;"></a></li>
		<li><a href="http://refer.ccbill.com/cgi-bin/clicks.cgi?CA=901313-0000&PA=1813773&HTML=https://www.metart.com/"><img src={{ "img/MA_3_dev_art.jpg" | absURL }} style="width:300px;height:250px;border:0;"></a></li>
		<li><a href="http://refer.ccbill.com/cgi-bin/clicks.cgi?CA=901313-0000&PA=1813773&HTML=https://www.metart.com/"><img src={{ "img/MA_4_dev_art.jpg" | absURL }} style="width:300px;height:250px;border:0;"></a></li>
		<li><a href="http://refer.ccbill.com/cgi-bin/clicks.cgi?CA=901313-0000&PA=1813773&HTML=https://www.metart.com/"><img src={{ "img/MA_5_dev_art.jpg" | absURL }} style="width:300px;height:250px;border:0;"></a></li>
		<li><a href="http://refer.ccbill.com/cgi-bin/clicks.cgi?CA=901313-0000&PA=1813773&HTML=https://www.metart.com/"><img src={{ "img/MA_6_dev_art.jpg" | absURL }} style="width:300px;height:250px;border:0;"></a></li>
		<li><a href="http://refer.ccbill.com/cgi-bin/clicks.cgi?CA=901313-0000&PA=1813773&HTML=https://www.metart.com/"><img src={{ "img/MA_7_dev_art.jpg" | absURL }} style="width:300px;height:250px;border:0;"></a></li>
	</ul>
  </div>
</div>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <ul class="list-inline text-center footer-links">
          {{ range .Site.Data.beautifulhugo.social.social_icons }}
            {{- if isset $.Site.Author .id }}
              <li>
                <a href="{{ printf .url (index $.Site.Author .id) }}" title="{{ .title }}">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="{{ .icon }} fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            {{- end -}}
          {{ end }}
          {{ if .Site.Params.rss }}
          <li>
            <a href="{{ with .OutputFormats.Get "RSS" }}{{ .RelPermalink }}{{ end }}" title="RSS">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-rss fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {{ end }}
        </ul>
        <p class="credits copyright text-muted">
          {{ if .Site.Author.name }}
            {{ if .Site.Author.website }}
              <a href="{{ .Site.Author.website }}">{{ .Site.Author.name }}</a>
            {{ else }}
              {{ .Site.Author.name }}
            {{ end }}
          {{ end }}

          &nbsp;&bull;&nbsp;&copy;
          {{ if .Site.Params.since }}
            {{ .Site.Params.since }} - {{ .Site.LastChange.Format "2006" }}
          {{ else }}
            {{ .Site.LastChange.Format "2006" }}
          {{ end }}

          {{ if .Site.Title }}
            &nbsp;&bull;&nbsp;
            <a href="{{ "" | absLangURL }}">{{ .Site.Title }}</a>
          {{ end }}
        </p>
        <!-- Please don't remove this, keep my open source work credited :) -->
        <p class="credits theme-by text-muted">
          {{ i18n "poweredBy" . | safeHTML }}
          {{ with .Site.Params.commit }}&nbsp;&bull;&nbsp;[<a href="{{.}}{{ getenv "GIT_COMMIT_SHA" }}">{{ getenv "GIT_COMMIT_SHA_SHORT" }}</a>]{{ end }}
        </p>
      </div>
    </div>
  </div>
</footer>

{{- if .Site.Params.selfHosted -}}
<script src="{{ "js/katex.min.js" | absURL }}"></script>
<script src="{{ "js/auto-render.min.js" | absURL }}"></script>
<script src="{{ "js/jquery.min.js" | absURL }}"></script>
<script src="{{ "js/bootstrap.min.js" | absURL }}"></script>
<script src="{{ "js/overlay.js" | absURL }}"></script>
{{- else -}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.10.0/katex.min.js" integrity="sha384-K3vbOmF2BtaVai+Qk37uypf7VrgBubhQreNQe9aGsz9lB63dIFiQVlJbr92dw2Lx" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.10.0/contrib/auto-render.min.js" integrity="sha384-kmZOZB5ObwgQnS/DuDg6TScgOiWWBiVt0plIRkZCmE6rDZGrEOQeHM5PcHi+nyqe" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
{{- end }}

<script src="{{ "js/main.js" | absURL }}"></script>
{{- if .Site.Params.staticman }}
<script src="{{ "js/staticman.js" | absURL }}"></script>
{{- end }}
{{- if  .Site.Params.useHLJS }}
<script src="{{ "js/highlight.min.js" | absURL }}"></script>
<script> hljs.initHighlightingOnLoad(); </script>
<script> $(document).ready(function() {$("pre.chroma").css("padding","0");}); </script>
{{- end -}}
<script> renderMathInElement(document.body); </script>

{{- if .Site.Params.selfHosted -}}
<script src="{{ "js/photoswipe.min.js" | absURL }}"></script>
<script src="{{ "js/photoswipe-ui-default.min.js" | absURL }}"></script>
{{- else -}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.2/photoswipe.min.js" integrity="sha384-QELNnmcmU8IR9ZAykt67vGr9/rZJdHbiWi64V88fCPaOohUlHCqUD/unNN0BXSqy" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.2/photoswipe-ui-default.min.js" integrity="sha384-m67o7SkQ1ALzKZIFh4CiTA8tmadaujiTa9Vu+nqPSwDOqHrDmxLezTdFln8077+q" crossorigin="anonymous"></script>
{{- end -}}
<script src="{{ "js/load-photoswipe.js" | absURL }}"></script>

{{ if and .Site.Params.delayDisqus .Site.DisqusShortname }}
<!-- Delayed Disqus -->
<script type="text/javascript">
$(function(){
  $('#show-comments').on('click', function(){
    var disqus_shortname = '{{ .Site.DisqusShortname }}';
      
    (function() {
      var disqus = document.createElement('script'); 
      disqus.type = 'text/javascript'; 
      disqus.async = true;
      disqus.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(disqus);
    })();
      
    $(this).hide(); 
    });
  });
      
</script>
<script id="dsq-count-scr" src="//{{ .Site.DisqusShortname }}.disqus.com/count.js" async></script>
<!-- End Delayed Disqus -->
{{ end }}

{{- partial "footer_custom.html" . }}
