<!--
If you want to include any custom html just before </body>, put it in /layouts/partials/footer_custom.html
Do not put anything in this file - it's only here so that hugo won't throw an error if /layouts/partials/footer_custom.html doesn't exist.
-->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
		  <p class="credits theme-by text-muted">
<a href="http://refer.ccbill.com/cgi-bin/clicks.cgi?CA=901313&PA=1813773&HTML=https://www.alsscan.com/">AlsScan</a>
&nbsp;&bull;&nbsp;
<a href="https://access.domai.com/track/MTA5MS5ETS4xOC4xMTcuNS4wLjA,/signup/">Domai</a>
&nbsp;&bull;&nbsp;
<a href="https://access.eroticbeauty.com/track/MTA5MS5FQi4yLjQuNS4wLjA,/signup/">Erotic Beauty</a>
&nbsp;&bull;&nbsp;
<a href="https://access.errotica-archives.com/track/MTA5MS5FQS42LjkuNS4wLjA,/signup/">Errotica Archives</a>
&nbsp;&bull;&nbsp;
<a href="https://access.eternaldesire.com/track/MTA5MS5FRC45LjIwLjUuMC4w/signup/">Eternal Desire</a>
&nbsp;&bull;&nbsp;
<a href="https://access.goddessnudes.com/track/MTA5MS5HTi4xOS4xMTguNS4wLjA,/signup/">Goddess Nudes</a>
&nbsp;&bull;&nbsp;
<a href="https://access.met-art.com/track/MTA5MS5NQS4xLjIuNS4wLjA,/signup/">MetArt</a>
&nbsp;&bull;&nbsp;
<a href="https://access.metartx.com/track/MTA5MS5NWC4yMy4yNTUuNS4wLjA,/signup/">MetArt X</a>
&nbsp;&bull;&nbsp;
<a href="https://access.sexart.com/track/MTA5MS5TQS4xMy4yNy41LjAuMA,,/signup/">SexArt</a>
&nbsp;&bull;&nbsp;
<a href="http://refer.ccbill.com/cgi-bin/clicks.cgi?CA=901313&PA=1813773&HTML=https://www.stunning18.com/">Stunning 18</a>
&nbsp;&bull;&nbsp;
<a href="https://access.thelifeerotic.com/track/1091.TLE.14.29.5.0.0/signup/">The Life Erotic</a>
&nbsp;&bull;&nbsp;
<a href="https://access.vivthomas.com/track/MTA5MS5WVC4xNS4zMi41LjAuMA,,/signup/">Viv Thomas</a>
        </p>
      </div>
    </div>
  </div>
</footer>
