<center>
  <figure>
  <video
	poster='{{ if .Get `poster` }}{{ .Get `poster` }}{{ else }}{{ end }}'

    width='{{ if .Get "width" }}{{ .Get "width" }}{{ else }}100%{{ end }}'

  controls preload="auto" >
    <source src='{{ .Get `src` }}' type="video/mp4">
    Your browser does not support the video tag.
  </video>

  {{ if .Get "alt" }}
	<figcaption>{{ .Get "alt" }}</figcaption>
		{{ else }}
   {{ end }}
  </figure>
</center>
